<form [formGroup]="formGroup" (ngSubmit)="addZone()" #formDirective="ngForm">
  <mat-card>
    <mat-card-title>Add a New Zone</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Zone name</mat-label>
        <input matInput formControlName="zoneName" />
        <mat-error *ngIf="zoneNameControl.hasError('required')">
          Zone name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div formArrayName="zonePoints">
        <ng-container
          *ngFor="
            let point of zonePointsFormArray.controls;
            let i = index;
            let isLast = last
          "
        >
          <mat-card [formGroupName]="i">
            <div class="flex-row align-center space-between">
              <div class="flex-row gap-1 align-center">
                <div class="circle" [ngStyle]="{ '--bg-color': 'red' }">
                  {{ i + 1 }}
                </div>
                <div>[{{ point.value[0] }}, {{ point.value[1] }}]</div>
              </div>
              <button
                mat-icon-button
                *ngIf="isLast"
                type="button"
                (click)="removeLastPointFromArray()"
                matTooltip="Delete point"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card>
          <br />
        </ng-container>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid"
      >
        Save Zone
      </button>
    </mat-card-actions>
  </mat-card>
</form>
