<app-loading-spinner
  *ngIf="(status$ | async) === Status.loading"
></app-loading-spinner>

<div class="grid-container">
  <app-zones-overview [editMode]="addingNewZone"></app-zones-overview>

  <div class="dashboard">
    <h2>Configuration</h2>

    <button mat-raised-button (click)="addingNewZone = !addingNewZone">
      <span *ngIf="!addingNewZone">Add new zone</span>
      <span *ngIf="addingNewZone">Cancel</span>
    </button>

    <div class="content">
      <app-new-zone *ngIf="addingNewZone"></app-new-zone>

      <app-zone-details
        *ngIf="!addingNewZone"
        [selectedZone]="selectedZone$ | async"
      ></app-zone-details>
    </div>
  </div>
</div>
